body {
	font: normal 40px/normal Helvetica;
	text-align: center;
}

.word {
	margin-bottom: 40px;

		span {
			border: 1px solid black;
			width: 100px;
			height: 100px;
			display: inline-block;
		}
}

.alphabet {
	span {
		color: tomato;
		border: 1px solid black;
		width: 100px;
		height: 100px;
		display: inline-block;
		background-color: #fff;
		transition: all .2s;
	&:hover {
		background-color: #eee;
		cursor: pointer;
	}
	&.has-letter{
		background-color: purple;
	}
	}
}